section {
  background-color: #1c1d25;

}

.hero {
    height: 100vh;
    color: whitesmoke;
    font-size: 40px;
}

footer{
    padding: 80px;
    background-color: black;
    color: white;
    text-align: center;
}

nav {
   display: flex; 
   justify-content: space-between; 
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

ul.show {
    display: block;
}

li {
    width: 200px;
    text-decoration: none;
    font-size: 25px;
}

h1 {
    font-size: 90px;
    margin: 0px;
    color: grey;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    color: navy;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid aqua;
    border-color: aqua;


    text-align: center;
    font-size: 30px;
    font-weight: 100;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: grey;
}

.socials {
    padding-bottom: 200px;
    
}

.logo {
    margin: 30px;
}

.social {
    margin: 40px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;

}



.information {
    display: block;

}


    div {
        display: block;
    }




h2 {
    font-size: 40px;
    color: grey;
}

h3 {
    font-size: 40px;
    color: aqua;
}

.headshot {
    width: 300px;
    border-radius: 150px;
}

.headshot-container {
    display: flex;
    align-items: center;

}

.Softwarecreationcard {
width: 300px;
height: 500px;
box-shadow: 5px 5px 20px;
margin: 10px;

}

.Softwarecreationcontainer {
    display: flex;
    align-self: center;
    
}

.sub-sectionalt {
   display: flex; 
   flex-direction: column;
   text-align: center;
   padding: 80px;
}


.project-image {
   margin-top: 25px;
   border-radius: 125px;
}

.links {
    text-decoration: none;
    color: aqua;
}

.links:hover {
    color: grey;

}

a{
    text-decoration: none;
    color: aqua;
}


p {
    font-size: 25px;
    margin: 0px;
    font-weight: 300px;
    color: white;
    display: block;
}

ol {
    font-size: 20px;
    margin: 0px;
    font-weight: 300px;
    color: white;

}

@media only screen and (max-width: 1000px) {
    .Softwarecreationcontainer {
        display: flex;
        flex-wrap: wrap;
    }
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0ch;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color:white ;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0px;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
        
    }

    .logo {
        display: none;
    }

    
}


